*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e5e5e5;
    font-family: arial;
}

.container{
    width: 100%;
    position: relative;
    
}

/*----------Header----------*/

.headercontainer{
    width: 100%;
    min-height: 100px;
    background-color: white;
    position: sticky;
    top: 0px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    z-index: 1;
}

nav img{
    position: absolute;
    left: 9vh;
    bottom: 50%;
    transform: translateY(50%);
}

.ulnav{
    list-style-type: none;
    display: inline-block;
    position: absolute;
    right: 9vh;
    bottom: 50%;
    transform: translateY(50%);

}

.linkshn{
    text-decoration: none;
    float: left;
    margin-right: 3vh;
    margin-left: 3vh;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    border-radius: 100px;
    border: 1px solid black;
    color: white;
    background: #013268;
}

.linkshn:hover{
    background: #EB1926;
}

/*----------List----------*/
#list_total_container{
    height: 1000px;
    position: relative;
}

#decoration{
    width: 460px;
    height: 1000px;
    background: #EC1927;
    position: absolute;
}

#list_container{
    width: 1000px;
    height: 800px;
    position: absolute;
    background: white;
    left: 230px;
    top: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

#header{
    padding: 15px 0px 15px 15px;
    color: white;
    background-color: #013268;
}

#product_list{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Arial, Helvetica;
    margin-left: 30px;
    font-weight: bold;
}


/*----------Footer----------*/

.footer_container{
    width: 100%;
    height: 500px;
    background: #2b2b2b;
    font-size: 20px;
}

.footer_container p, a, h3{
    color: white;
    text-decoration: none;
}

.footer_container a:hover{
    color: gray;
}

#media_footer{
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
}

#contatos{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}

#contatos h3{
    text-align: center;
    margin-bottom: 20px;
}

#endereço{
    display: inline-block;
    position: relative;
    bottom: 140px;
    margin-left: 40px;
    margin-right: 40px;
}

#endereço h3{
    text-align: center;
    margin-bottom: 20px;
}

#funcionamento{
    display: inline-block;
    position: relative;
    bottom: 140px;
    margin-left: 40px;
    margin-right: 40px;
}

#funcionamento h3{
    text-align: center;
    margin-bottom: 20px;
}

/*----------Icon Whatsapp----------*/

#icon_whatsapp_fixed{
    width: 70px;
    height: 70px;
    background: red;
    background-image: url("../Images/icon_whatsapp.png");
    border-radius: 100px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

@media screen and (max-width: 1250px){}
/*Fazer adaptação no site, após essa resolução a interface buga*/